@using Avassy.AspNetCore.Mvc.Extensions;

@{
    var activePage = this.ViewBag.ActivePage;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewBag.Title - Demo</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">

    <meta name="msapplication-TileColor" content="#2d2d2d">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#2d2d2d">

    <link href="~/css/bootstrap/bootstrap-custom.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/moment/moment.js"></script>

    @RenderSection("Scripts", required: false)


    @if (!this.Html.ShouldDisableGA())
    {
        <!-- GA fake script placeholder -->
        <!-- When this comment is visible this means that the attribute "Avassy.AspNetCore.Mvc.ActionFilters.DisableGoogleAnalyticsActionFilterAttribute" is not set on this controller or controller action -->
    }

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="http://www.avassy.com">
        <img src="~/images/avassy-logo-white-sm.png" width="30" height="30" class="d-inline-block align-top" alt="AVASSY .NET Solutions" />
        AVASSY
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="@(activePage == "Home" ? "nav-item active" : "nav-item")">
                <a asp-controller="Home" asp-action="Index" class="nav-link" title="Home">Home</a>
            </li>
            <li class="@(activePage == "TagHelpers" ? "nav-item active" : "nav-item")">
                <a asp-controller="TagHelpers" asp-action="Index" class="nav-link" title="Avassy.AspNetCore.Mvc.TagHelpers">Avassy.AspNetCore.Mvc.TagHelpers</a>
            </li>
            <li class="@(activePage == "InvisibleReCaptcha" ? "nav-item active" : "nav-item")">
                <a asp-controller="InvisibleReCaptcha" asp-action="Index" class="nav-link" title="Avassy.AspNetCore.Mvc.InvisibleReCaptcha">Avassy.AspNetCore.Mvc.InvisibleReCaptcha</a>
            </li>
        </ul>
    </div>
</nav>
    <section class="container-fluid content">
        @RenderBody()
    </section>
</body>
</html>
